tr {
  border: 2px solid black;
}

header {
  margin: 30px;
}

.completeBtn,
.deleteBtn {
  margin: 5px 5px;
}

.deleteBtn {
  text-decoration: none;
}

.taskComplete {
  background-color: grey;
  color: lightgray;
}

.taskIncomplete {
  background-color: khaki;
}

.line-through {
  text-decoration-line: line-through;
}

.dateCompleted {
  display: block;
  font-size: x-small;
}

#sortBtn {
  margin-top: 15px;
}

#inputSection {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#tasksDisplayTable {
  margin-top: 40px;
}

/* for small screens */
@media (max-width: 576px) {
  #taskInput {
    margin-bottom: 30px;
  }
}
